
/* LAYOUT... */

div[role=main] {
  margin-top: 80px;
}
.brand {
  background: url(../img/seattle.rb-logo.png) no-repeat left top !important;
  color: #c70000 !important;
  font-size: 275% !important;
  font-weight: bold !important;
  letter-spacing: -.04em;
  padding-left: 50px !important;
  margin: 5px 0 0 10px !important;
  line-height: 0.8 !important;
}

.navbar .nav {
  margin-top: 8px;
}

.navbar .nav li {
  margin: 0 3px !important;
  font-size: 120%;
}

.navbar .nav li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

footer {
  background-color: #C3D9FF;
  padding: 5px;
}

/*...LAYOUT*/

/* HOME...*/

.hero-unit {
  background: #fff url(../img/ruby.png) no-repeat left center;
  padding-left: 190px;
  margin-left: 20px;
}
  
/*...HOME*/

/* PEOPLE...*/
.profile {
  margin: 5px 0;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  
}

.profile:nth-child(even) {
  background-color: #E9FBFF;
}

.profile .avatar {
  margin: 0 10px 0 0;
}

.profile .avatar img {
  border: 2px solid #ccc;
}
.profile .description {
  margin: 0 10px 0 0;
}
.profile .description h1 {
  line-height: 0.7;
  margin-bottom: 8px;
  font-size: 300%;
}
.profile .description ul {
  margin: 2px;
}
.profile .description ul li {
  display: inline-block;
}
/*...PEOPLE*/