
/* LAYOUT... */

div[role=main] {
  margin-top: 80px;
}

.brand {
  background: url(../img/seattle.rb-logo.png) no-repeat left top !important;
  color: #c70000 !important;
  font-size: 275% !important;
  font-weight: bold !important;
  letter-spacing: -.04em;
  padding-left: 50px !important;
  margin: 5px 0 0 10px !important;
  line-height: 0.8 !important;
}

.navbar .nav {
  margin-top: 8px;
}

.navbar .nav li {
  margin: 0 3px !important;
  font-size: 120%;
}

.navbar .nav li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

footer {
  background-color: #C3D9FF;
  padding: 5px;
  margin-top: 10px;
}

table tr td {
  vertical-align: top;
}

address {margin: 0}
/*...LAYOUT*/

/* HOME...*/

.hero-unit {
  background: #fff url(../img/ruby.png) no-repeat left center;
  padding-left: 190px;
  margin-left: 20px;
}

#map {
  color: #333;
  border: 1px solid #A9BBDD;
  padding: 5px 10px 0 10px;
  margin: 30px 0;
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
  background-color: #C3D9FF;
  background-image: -ms-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: -moz-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: -o-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C3D9FF), color-stop(1, #A9BBDD));
  background-image: -webkit-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: linear-gradient(to bottom, #C3D9FF 0%, #A9BBDD 100%);
}

#map iframe {
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
}

#map h3 {
  line-height: 1;
}

#map table {
  margin: 10px 0 0 0px;
}

#map table tr:first-child td {
  padding-bottom: 5px;
}

abbr.amp {
  font-weight: normal;
  font-style: italic;
  font-size: 120%;
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  border: none;
}
  
/*...HOME*/

/* PEOPLE...*/
.profile {
  margin: 5px 0;
  padding: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
}

.profile:nth-child(even) {
  background-color: #E9FBFF;
}

.profile .avatar {
  margin: 0 10px 0 0;
}

.profile .avatar img {
  border: 2px solid #ccc;
  margin: 0 10px;
}
.profile .description {
  margin: 0 0 0 10px;
}
.profile .description h1 {
  line-height: 0.7;
  margin-bottom: 8px;
  font-size: 300%;
}
.links {
  margin: 2px;
}
.links li {
  display: inline-block;
  margin: 5px;
}
.mini-profile {
  margin: 15px 0;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
  padding: 10px;
  height: 120px;
  background-color: #ddd;
}
.mini-profile img {
  float: left;
  margin: 0 5px 0px 0;
  height: 50px;
}
/*...PEOPLE*/